<div class="form flex p-4 rounded bg-white 
          shadow mx-auto text-teal-700
          text-center flex-col w-1/4">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :name, hidden: true %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", 
                                               class: "shadow-md p-2",
                                               placeholder: "Ime" %>
    </div>
    <div class="field">
      <%= f.label :email, hidden: true %><br />
      <%= f.email_field :email, autocomplete: "email",
                                class: "shadow-md p-2",
                                placeholder: "Email" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :password, hidden: true %>
      <%= f.password_field :password, autocomplete: "new-password", 
                                      class: "shadow-md p-2",
                                      placeholder: "Lozinka" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, hidden: true %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", 
                                                   class: "shadow-md p-2",
                                                   placeholder: "Potvrdi lozinku" %>
    </div>
    <div class="actions">
      <%= f.submit "Napravi nalog", class: "px-4 uppercase rounded text-white text-sm py-2 mt-4 bg-green-400 hover:bg-green-600" %>
    </div>
  <% end %>
</div>
