<div class="login-form form flex p-4 rounded bg-white 
            shadow mx-auto text-teal-700
            text-center flex-col w-1/4">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, hidden: true %><br />
      <%= f.email_field :email, autocomplete: "email",
                                class: "shadow-md p-2",
                                placeholder: "Email" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :password, hidden: true %>
      <%= f.password_field :password, autocomplete: "new-password", 
                                      class: "shadow-md p-2",
                                      placeholder: "Lozinka" %>
      <% if devise_mapping.rememberable? %>
        <div class="field m-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Zapamti me" %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Uloguj se", class: "px-4 uppercase rounded text-white 
                                          text-sm py-2 mt-4 bg-green-400 
                                          hover:bg-green-600" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
