<%= form_with(model: product, local: true, multipart: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, 
                           in: 1..50000 %> <small>rsd</small>
  </div>
  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, Product::CATEGORY, prompt: 'Select category' %>
  </div>
  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>
  <div class="actions">
    <%= form.submit %>
    <%= link_to 'Cancel', products_path %>
  </div>
<% end %>
