<%= form_with(model: product, local: true, 
                              multipart: true,
                              class: "flex p-2 rounded bg-white 
                                      shadow h-full mx-auto mr-12 
                                      text-center flex-col") do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2 class="p-3 text-teal-700">Novi Proizvod</h2>
  <%= form.label :name, hidden: true %>
  <%= form.text_field :name, placeholder:  "Naziv proizvoda", class: "shadow-md p-2" %><br>
  <%= form.label :description, hidden: true  %>
  <%= form.text_area :description, placeholder:  "Opis proizvoda", class: "shadow-md p-2" %><br>
  <%= form.label :price, hidden: true  %>
  <%= form.number_field :price, 
                           in: 1..50000, placeholder:  "Cena u rsd", class: "shadow-md p-2" %><br>
  <%= form.label :category, hidden: true  %>
  <%= form.select :category, Product::CATEGORY, prompt: 'Izaberi kategoriju' %><br>
  <%= form.label :images, "Dodaj slike"  %>
  <%= form.file_field :images, multiple: true, class: "px-4  uppercase rounded text-white text-sm py-2 bg-teal-500 hover:bg-teal-700" %>
  <%= form.submit "Objavi", class: "px-4 uppercase rounded text-white text-sm py-2 mt-2 bg-green-400 hover:bg-green-600" %>
<% end %>
