<!DOCTYPE html>
<html>
  <head>
    <title>MusicShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application'%>
    <%= stylesheet_pack_tag 'application'%>
  </head>
  <body class="bg-gray-100">
    <%# Navbar %>
    <div class=" flex items-center px-3 relative text-teal-300 uppercase text-sm justify-between bg-teal-900 h-12">
      <h1 class="text-2xl text-teal-200"><%= link_to "Shopilica!", root_path%></h1>
      <div>
        <%= render 'devise/shared/profile' if user_signed_in? %>
        <%= render 'devise/shared/session_links' %>
      </div>
    </div>
    <% if flash.any? %>
      <ul class="text-teal-800 notifications text-center bg-teal-200">
        <% flash.each do |type, msg|%>
          <li class="p-4"> <%= msg %> </li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
