<!DOCTYPE html>
<html>
  <head>
    <title>MusicShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application'%>
    <%= stylesheet_pack_tag 'application'%>
  </head>
  <body>
    <% if flash.any? %>
      <ul>
        <% flash.each do |type, msg|%>
          <li> <%= msg %> </li>
        <% end %>
      </ul>
    <% end %>
    <%# Navbar %>
    <div class=" flex items-center justify-end bg-yellow-500 h-16">
      <div class="account flex px-3 justify-evenly">
        <% if user_signed_in? %>
          <%= link_to "Edit profile", edit_user_registration_path, class: "mx-3" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "mx-3" %>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "mx-3" %>
          <%= link_to "Sign up", new_user_registration_path, class: "mx-3" %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
