<!DOCTYPE html>
<html>
  <head>
    <title>MusicShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application'%>
    <%= stylesheet_pack_tag 'application'%>
  </head>
  <body class="bg-gray-100">
    <%# Navbar %>
    <div class=" flex items-center px-3 relative text-teal-300 uppercase text-sm justify-between bg-teal-900 h-12">
      <%= render 'devise/shared/profile' if user_signed_in? %>
      <div class="absolute right-0">
        <%= render 'devise/shared/session_links' %>
      </div>
    </div>
    <% if flash.any? %>
      <ul>
        <% flash.each do |type, msg|%>
          <li> <%= msg %> </li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
